INFLUXDB_TOKEN=
INFLUXDB_URL=
INFLUXDB_ORG=
INFLUXDB_USER=
INFLUXDB_DB=
INFLUXDB_BUCKET=
EMAIL_SENDER=
EMAIL_PASSWORD=
EMAIL_RECIPIENTS=
# Falls back to system hostname if not set
DEVICE_HOST=
DEVICE_ADDRESS=
# Enable file logging (true/false)
LOG=true
# Enable debug output to shell (true/false)
DEBUG=true
